<% include ../partials/header %>
<% include ../partials/navbar %>


<div class="container mt-5">
  <div class="">
    <a href="/settings/categories">Categories</a>
  </div>

  <div class="" id="manage-users">
    <a href="#">Manage registered users</a>
  </div>

  <div class="" id="manage-users">
    <a href="/register">Add a new user</a>
  </div>
</div>



<% include ../partials/footer %>
