.clock {
  height: 11vh;
  overflow: hidden;
  text-align: center;
  background-color: #000;
  border-radius: 5px;
  color: #d0451b;
  -webkit-box-shadow: 0px 0px 10px 3px rgba(220,220,222,0.3);
  -moz-box-shadow: 0px 0px 10px 3px rgba(220,220,222,0.3);
  box-shadow: 0px 0px 10px 3px rgba(220,220,222,0.3);
  text-shadow: 0px 0px 14px rgba(255, 0, 0, 0.8);
}

.clock-time{
  font-size: 5vh;
  line-height: 6vh;
  margin-top: 10px;
}

.clock-description{
  font-size: 1vh;
  text-align: center;
  font-weight: 200;
}

.move {
  animation: move linear 1s infinite;
}

@keyframes move {
  from {
    transform: translateY(0vh);
  }
  to {
    transform: translateY(-20vh);
  }
}

@media (max-width: 767.98px) {
  .clock-time {
    font-size: 5vh;
  }
  .clock-time div, .clock-description div{
    padding: 0;
  }
}
